@import "typography";
@import "variables";
html {
    font-size: 62.5%;
}
body {
    
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container { 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: $primary-color;
    margin-bottom: 26rem;
    @media screen and (max-width: 1023.98px) {
        margin-bottom: 10rem;
    }
    
    .header-top {
        padding: 3rem 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu {
            display: flex;
            align-items: center;
            @media screen and (max-width: 1023.98px) {
                flex-direction: column;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 300px;
                background-color: #c1895c;
                z-index: 10;
                padding-top: 50px;
                transform: translateX(100%);
                transition: 0.3s ease;
                &.is-active{
                    transform: translateX(0);
                }
            }
            .menu-item {
                font-size: 1.8rem;
                @media screen and (max-width: 1023.98px) {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 1rem;
                }
                .menu-link {
                    transition: 0.25s;
                    color: white;
                    opacity: 0.4;
                    @media screen and (max-width: 1023.98px) {
                        color: white;
                        opacity: 1;
                    }
                }
                &:hover {
                    list-style: disc;
                    color: $gray;
                    @media screen and (max-width: 1023.98px) {
                        color: $primary-color;
                    }
                    .menu-link {
                        opacity: 1;
                    }
                }
            }
            .menu-item ~ .menu-item {
                margin-left: 5rem;
                @media screen and (max-width: 1023.98px) {
                    margin-left: 0rem;
                    margin-top: 3rem;
                }
            }
        }
        .header-contact {
            font-size: 2.4rem;
            line-height: calc(32 / 24);
            color: white;
            text-decoration: underline;
            @media screen and (max-width: 1023.98px) {
                font-size: 18px;
                margin-left: auto;
            }
            
        }
        .menu-toggle{
            display: none;
            @media screen and (max-width: 1023.98px) {
                padding: 1rem;
                display: inline-flex;
                flex-direction: column;
                margin-left: 5rem;
                cursor: pointer;    
                background-color: transparent;
                outline: none;
                border: none;
                .line{
                    height: 0.3rem;
                    background-color: white;
                }
                .line-first{
                    width: 0.9rem;
                    margin-bottom: 1.3rem;
                }
                .line-second{
                    width: 2.3rem;
                }
            }
            
        }
    }
    .line-header{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.header-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10.2rem;
    @media screen and (max-width: 1023.98px) {
        padding-top: 8rem;
        padding-bottom: 5.7rem;
    }
    @media screen and (max-width: 767.98px) {
        flex-direction: column-reverse;
    }
    
    .header-content{
        max-width: 72.5rem;
        width: 100%;
        margin-right: 3.2rem;
        flex-grow: 1;
        @media screen and (max-width: 1023.98px) {
            margin-right: 10px;
        }
        
        .header-heading{
            color: white;
            font-size: 8rem;
            margin-bottom: 6.8rem;
            letter-spacing: -1px;
            @media screen and (max-width: 1023.98px) {
                font-size: 6rem;
            }
            @media screen and (max-width: 767.98px) {
                font-size: 4.6rem;
                line-height: calc(56 / 46);
                margin-bottom: 4rem;
            }
            .header-heading-child{
                opacity: 0;
                visibility: hidden;
                @media screen and (max-width: 1023.98px) {
                    display: none;
                }
            }
            & > span{
                display: block;
                margin-left: auto;
            }
        }
        .header-info{
            width: 100%;
            max-width: 40.7rem;
            margin-left: auto;
            @media screen and (max-width: 767.98px) {
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @media screen and (max-width: 1023.98px) {
                margin-left: unset;
            }
            .header-text{
                font-size: 2rem;
                color: white;
                margin-top: 4.7rem;
                line-height: 3rem;
                opacity: 0.6;
                @media screen and (max-width: 767.98px) {
                    font-size: 1.8rem;
                    margin-top: 4rem;
                    line-height: calc(30 / 18);
                }
            }
        }
        .header-img-small{
            transform: translateY(78px);
            @media screen and (max-width: 1023.98px) {
                display: none;
            }
            
        }
    }
    .header-images{
        transform: translateY(1.5rem);
        @media screen and (max-width: 1023.98px) {
            transform: translateY(0.25rem);
            position: relative;
            width: 100%;
            margin-bottom: 8rem;
        }
        @media screen and (max-width: 767.98px) {
            max-width: 51.5rem;
        }
        
        
        .header-img-large{
            @media screen and (max-width: 1023.98px) {
                width: 100%;
                max-width: 33rem;
                align-self: stretch;
            }
        }
        .header-img-small{
            display: none;
            @media screen and (max-width: 1023.98px) {
                display: inline-block;
                position: absolute;
                right: 0px;
                bottom: 30px;
            }
            @media screen and (max-width: 479.98px) {
                right: 10px;
            }
        }
    }
}

// about us
.about{
    padding-bottom: 15rem;
    @media screen and (max-width: 1023.98px) {
    
    }
    .about-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11rem;
        @media screen and (max-width: 1023.98px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 7rem;
        }
        
        .about-heading{
            font-size: 7.2rem;
            line-height: calc(76 / 72);
            max-width: 40rem;
            width: 100%;
            @media screen and (max-width: 1023.98px) {
                margin-bottom: 2rem;
            }
            @media screen and (max-width: 767.98px) {
                max-width: 26.8rem;
                font-size: 4.6rem;
                line-height: calc(56 / 46);
                align-self: flex-start;
            }
            
        }
        .about-desc{
            max-width: 63.8rem;
            width: 100%;
            font-size: 2.4rem;
            line-height: calc(34 / 24);
            opacity: 0.7;
            @media screen and (max-width: 1023.98px) {
                max-width: unset;
            }
            @media screen and (max-width: 767.98px) {
                max-width: 39rem;
                font-size: 1.8rem;
                line-height: calc(30 / 18);
            }
        }
    }
    .about-content{
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        @media screen and (max-width: 1023.98px) {
            flex-direction: column;
            align-items: center;
        }
        
        @media screen and (max-width: 767.98px) {
        }
        .about-left{
            margin-right: 14rem;
            
            @media screen and (max-width: 1023.98px) {
                margin-right: 0;
                width: 100%;
                margin-bottom: 6rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .about-right{
            text-align: center;
            @media screen and (max-width: 767.98px) {
                margin-right: 0;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .img-top{
                margin-bottom: 4rem;
            }
            .img-bot{
                margin-bottom: 4rem;
            }
            .about-caption{
                max-width: 51.3rem;
                width: 100%;
                font-size: 5.2rem;
                line-height: calc(61 / 52);
                color: #2D2D2D;
                text-align: left;
                @media screen and (max-width: 1023.98px) {
                    max-width: unset;
                    text-align: center;
                }
                
                @media screen and (max-width: 767.98px) {
                    text-align: center;
                    font-size: 3.6rem;
                    line-height: calc(42 / 36);
                }
            }
        }
    }
}
// line
.line4{
    text-align: center;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// project
.project{
    margin-top: 12rem;
    @media screen and (max-width: 767.98px) {
        margin-top: 6rem;
    }
    
    .project-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        @media screen and (max-width: 767.98px) {
            align-items: flex-end;
        }
        .project-heading{
            max-width: 62rem;
            width: 100%;
            font-size: 7rem;
            line-height: calc(76 / 70);
            @media screen and (max-width: 767.98px) {
                max-width: 22.9rem;
                font-size: 4.6rem;
                line-height: calc(56 / 46);
            }
        }
        .project-all{
            color: inherit;
            font-size: 2.4rem;
            line-height: calc(30 / 24);
            &:hover {
                text-decoration: underline;
            }
            @media screen and (max-width: 767.98px) {
                font-size: 1.8rem;
                line-height: calc(30 / 18);
            }
        }

    }
    .project-list{
        .project-item{
            position: relative;
            height: 71.2rem;
            @media screen and (max-width: 767.98px) {
                height: 22.4rem;
            }
            .project-img{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .project-info{
                position: absolute;
                bottom: 65px;
                left: calc(10% - 15px);
                color: white;
                @media screen and (max-width: 767.98px) {
                    bottom: 17px;
                }
                .project-name{
                    font-size: 5rem;
                    line-height: calc(62 / 50);
                    font-weight: 500;
                    margin-bottom: 1rem;
                    @media screen and (max-width: 767.98px) {
                        font-size: 3.2rem;
                        line-height: calc(40 / 32);
                    }
                }
                .project-link{
                    color: inherit;
                    font-size: 2.4rem;
                    line-height: calc(30 / 24);
                    &:hover {
                        text-decoration: underline;
                    }
                    @media screen and (max-width: 767.98px) {
                        font-size: 1.8rem;
                        line-height: calc(30 / 18);
                    }
                }
            }
        }
        .slick-arrow{
            display: none !important;
        }
        .slick-dots{
            position: absolute;
            bottom: 10.3rem;
            right: 16.9rem;
            display: flex !important;
            align-items: center;
            li{
                position: relative;
                margin-left: 30px;
                border-radius: 50%;
                width: 2.6rem;
                height: 2.6rem;
                background-color: white;
                color: white;
                opacity: 0.5;
                cursor: pointer;
                &::after{
                    position: absolute;
                    content: '';
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    z-index: 5;
                }
                button{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: transparent;
                }
                &.slick-active{
                    background-color: transparent;
                    opacity: 1;
                    border: 2px solid white;
                }
                
            }
            @media screen and (max-width: 767.98px) {
                display: none !important;
            }
            
        }
    }
}
// designer
.designers{
    background-color: $primary-color;
    padding-top: 16rem;
    @media screen and (max-width: 1023.98px) {
        padding-top: 12rem;
        padding-bottom: 2rem;
    }
    @media screen and (max-width: 767.98px) {
        padding-top: 12rem;
    }
    .designer-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        color: #F8F3ED;
        @media screen and (max-width: 767.98px) {
            flex-direction: column;
        }
        .designer-content{

            margin-right: 14rem;
            @media screen and (max-width: 1023.98px) {
                margin-right: 0;
            }
            @media screen and (max-width: 767.98px) {
                margin-right: 0;
                margin-bottom: 7rem;
            }
            .designer-heading{
                font-size: 7rem;
                line-height: calc(76 / 70);
                margin-bottom: 3rem;
                @media screen and (max-width: 767.98px) {
                    margin-bottom: 2rem;
                    max-width: 31.3rem;
                    font-size: 4.6rem;
                    line-height: calc(56 / 46);
                }
            }
            .designer-desc{
                font-size: 2.4rem;
                line-height: calc(34 / 24);
                opacity: 0.7;
            }
            .designer-desc-above{
                margin: 2.5rem 0 4rem 0;
                @media screen and (max-width: 767.98px) {
                    margin: 2rem 0 4rem 0;
                }
            }
            .designer-link{
                font-size: 2.4rem;
                line-height: calc(30 / 24);
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        @media screen and (max-width: 1023.98px) {
            .designer-image{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
        }
    }
}

// blog
.blog{
    padding: 18rem 0;
    @media screen and (max-width: 767.98px) {
        padding: 12rem 0;
    }
    .blog-header{
        text-align: center;
        margin-bottom: 15rem;
        @media screen and (max-width: 767.98px) {
            margin-bottom: 6rem;
        }
        .blog-heading{
            font-size: 7rem;
            line-height: calc(76 / 70);
            margin-bottom: 5rem;
            @media screen and (max-width: 767.98px) {
                font-size: 4.5rem;
                line-height: calc(56 / 45); 
                margin-bottom: 3rem;
            }
        }
        .blog-link{
            font-size: 2.4rem;
            line-height: calc(30 / 24);
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
            @media screen and (max-width: 767.98px) {
                font-size: 1.8rem;
                line-height: calc(30 / 18);
            }
        }
    }
    .blog-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 3.2rem;
        @media screen and (max-width: 767.98px) {
            grid-template-columns: 1fr;
            gap: 8rem 0;
        }
        .blog-item{
            display: flex;
            flex-direction: column;
            .blog-image{
                margin-bottom: 3rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .blog-title{
                font-size: 3rem;
                line-height: 1;
                margin-bottom: 2rem;
                padding-bottom: 3.5rem;
                border-bottom: 1px solid #7C9097 ;
                flex-grow: 1;
                @media screen and (max-width: 767.98px) {
                    font-size: 2rem;
                    line-height: calc(30 / 20);
                }
            }
            .blog-meta{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .blog-link{
                    color: inherit;
                    font-size: 1.8rem;
                    line-height: calc(24 / 18);
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .blog-time{
                    line-height: calc(30 / 16);
                    font-size: 1.6rem;
                    color: inherit;
                    opacity: 0.5;
                    @media screen and (max-width: 767.98px) {
                        font-size: 1.5rem;
                        line-height: calc(27 / 15);
                    }
                }
            }
        }
    }
}

// footer
.footer{
    padding: 10rem 0 0 0;
    background-color: $primary-color;
    position: relative;
    @media screen and (max-width: 767.98px) {
        padding: 5.6rem 0 0 0;
    }

    .back-to-top{
        position: absolute;
        color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        top: 8.7rem;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 767.98px) {
            display: none;
        }
    
        img{
            width: 30px;
            margin-bottom: 1rem;
        }
        span{
            color: inherit;
            opacity: 0.4;
            font-size: 2.4rem;
            line-height: calc(32 / 24);
        }
    }

    .footer-logo{
        display: none;
        @media screen and (max-width: 767.98px) {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            margin-bottom: 8rem;
            img{
                width: 8.7rem;
            }
        }
    }
    
    .footer-top{
        margin-bottom: 11rem;
        @media screen and (max-width: 767.98px) {
            margin-bottom: 6.2rem;
        }
        .footer-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 1023.98px) {
                flex-direction: column;
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
            }
            .footer-content{
                max-width: 53rem;
                width: 100%;
                margin-right: 24.5rem;
                color: white;
                @media screen and (max-width: 1023.98px) {
                    margin-right: 0rem;
                    margin-top: 10rem;
                    margin-bottom: 4rem;
                }
                @media screen and (max-width: 767.98px) {
                    margin-top: 0rem;
                }
            
                .footer-heading{
                    font-size: 3rem;
                    line-height: 1;
                    margin-bottom: 7.1rem;
                    @media screen and (max-width: 767.98px) {
                        margin-bottom: 4rem;
                    }
                }
                .footer-list{
                    @media screen and (max-width: 767.98px) {
                        margin-bottom: 11rem;
                        margin-left: 1.5rem;
                    }
                
                    .footer-item{
                        font-size: 3rem;
                        list-style: disc;
                        @media screen and (max-width: 767.98px) {
                            font-size: 2.4rem;
                            line-height: calc(34 / 24);
                        }
                    
                        .footer-info-item{
                            color: #F8F3ED;
                            opacity: 0.6;
                            font-size: 6rem;
                            line-height: calc(72 / 60);
                            margin-top: 2rem;
                            font-weight: 400;
                            @media screen and (max-width: 767.98px) {
                                font-size: 3.6rem;
                                line-height: calc(42 / 36);
                            }
                        
                        }
                    }
                    .footer-item:first-child{
                        margin-bottom: 5rem;
                        @media screen and (max-width: 767.98px) {
                            margin-bottom: 4rem;
                        }
                    
                    }
                }
            }
            .footer-image{
                @media screen and (max-width: 767.98px) {
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .footer-bottom{
        padding: 3rem 0 3.6rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        .footer-text{
            color: inherit;
            opacity: 0.4;
            font-size: 2.4rem;
            line-height: calc(32 / 24);
            @media screen and (max-width: 767.98px) {
                font-size: 1.6rem;
                line-height: calc(30 / 16);
            }
        }
        @media screen and (max-width: 767.98px) {
            img{
                display: none;
            }
        }
    }
}